@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; /* Removes default browser margin */
  padding: 0; /* Removes default browser padding */
  box-sizing: border-box; /* Ensures padding/border don't increase element size */
  scroll-behavior: smooth;
}

